.place__title {
    font-weight: 900;
    font-style: normal;
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 1px red solid;

}

  
  @media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .place__title {
    width: calc((288 / 320) * 100%);
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
    }
  }
  
