 .places {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;

} 

@media (max-width: 1024px) {
  .places {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
  
}
@media (max-width: 768px) {
  .places {
    grid-template-columns: minmax(288px, 1fr);
    gap: 32px;
  }
}

