.cover__subtitle { 
    max-width: 360px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 101%;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 360px;
    z-index: 2;
    color: white;
  }

  @media  screen and (max-width: 530px) {
    .cover__subtitle {
      Font-size: 14px;
      Line-height: 16px;
      Line-height: 94%;
    }
} 

