.header{
    width: 92.5%;
    max-width: 1184px;
    max-height: 52px;
    margin: 28px auto 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


@media screen and (max-width: 540px) {
    .header {
        margin: 16px auto 0 auto;
    }
}




