.lead__title {
    font-weight: 900;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
    width: calc((720/768)*100%);
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
 }
}

@media screen and (max-width: 668px) {
    .lead__title {
        width: calc((288/320)*100%);
        font-size: 40px;
        line-height: 44px;
    }
} 


