.lead__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    text-align: center;

}


@media screen and (min-width: 321px) and (max-width: 768px){
    .lead__title {
    max-width: 18em;
    font-size: 40px;
    line-height: 44px;
 }
}
@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
} 


