.lead__title {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    padding: 0;
    margin: 0 auto;
    color: white; 
    font-size: 96px;
    line-height: 100px;
    line-height: 86%;
    max-width: 720px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        max-width: 720px;
        margin: 48px auto 32px auto;
        Font-size: 96px;
        Line-height: 100px;
        Line-height: 86%;
    }
}
@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 720px;
        margin: 48px auto 16px auto;
        Font-size: 96px;
        Line-height: 100px;
        Line-height: 86%;
    }
}



@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        padding: 48px auto 16px auto;
        Font-size: 40px;
        Line-height: 44px;
        Line-height: 91%;
    }
}
