.place__paragraph {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29.34px;
    color: #fff;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
}



@media screen and (max-width: 768px) {
  .place__paragraph {
      font-size: 16px;
      line-height: 26.08px;
      display: block;
    }
  }
