.intro__text {
   color: #fff;
   margin: 40px 0 34px 0;
   padding: 0;
   max-width: 690px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
}

@media (max-width: 1024px) {
   .intro__text {
      width: 74%;
      max-width: 960px;
      padding-left: 0;
   }
}
@media (max-width: 768px) {
   .intro__text {
      width: 100%;
      min-width: min-content;
      max-width: 720px;
   }
}

@media (max-width: 320px) {
   .intro__text {
       width: 100%;
   } 
}