.intro__text {
    color: white;
    margin: 40px auto 33px 0;
    padding: 0;
    max-width: 690px;
    Font-family: 'Inter';
    Font-style: normal;
    font-weight: 400;
    Font-size: 16px;
    Line-height: 26px;
}