.root {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
