.lead__subtitle {
    padding: 0;
    margin: 32px auto 64px auto;
    font-size: 30px;
    line-height: 36px;
    line-height: 99%;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    max-width: 640px;
    text-align: center;
}

@media screen and (min-width: 321px) and (max-width: 768px){
    .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 32px auto 56px auto;
 }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
    width: 100%;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    line-height: 103%;
    margin: 16px auto 40px auto;
    }
}