.lead__subtitle {
    padding: 0;
    margin: 32px auto 64px auto;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    max-width: 640px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 32px auto 56px auto;
        max-width: 640px;
    }
 }

@media screen and (max-width: 768px) {
    .lead__subtitle {
       width: calc((640/768)*100%);
       max-width: 640px;
       font-size: 30px;
       line-height: 36px;
       margin: 32px auto 56px auto;
 }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
    width: calc((288/320)*100%);
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px auto;
    }
}