.cover {
    margin: 0 auto;
    width: 92.5%;
    max-width: 1184px;
  }

  @media (max-width: 1024px) {
    .cover {
   width: 100%;
   max-width: 1024px;

    }
    
 }
 @media (max-width: 768px) {
    .cover {
width: 100%;
max-width: 768px;
    }
    
 }
 @media (max-width: 320px) {
    .cover {
width: 100%; 
max-width: 320px;
    }
    
 }