.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0 auto 32px auto;
    z-index: 2;
  }

 @media screen and (max-width: 530px) {
  .cover__title {
  font-size: 32px;
  max-width: 230px;
  line-height: 35px;
  margin: 0 auto 16px auto;
  }
}
