 .place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding: 0;
    margin: 0;
} 

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    row-gap: 48px;
    column-gap: 28px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 668px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 35px;
  }
} 



