.footer {
    width: 92.5%;
    max-width: 1184px;
    margin: 92px auto 24px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

@media  screen and (max-width: 680px) {
    .footer {
    flex-direction: column;
    gap: 48px;
    margin: 64px auto 24px auto;
    }
} 