.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: end;
  gap: 12px;
  width: calc((288 / 320) * 100%);
}

@media screen and (max-width: 768px) {
  .place__website {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    margin-left: 16px;
  }
}
